<div class="row row-cols-1 row-cols-md-3 g-4 m-5 animated fadeIn">
    <div class="col" *ngFor="let item of items">
        <div class="card h-100">
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <span *ngFor="let artista of item.artists" class="badge bg-primary">{{artista.name}}</span>
                </p>
            </div>
        </div>
    </div>
</div>